.div class="wall-of-videos-container"
  ziggeorecorder id='myRecorder' ziggeo-width=320 ziggeo-height=240 ziggeo-timelimit=15 ziggeo-theme='modern'

= javascript_include_tag 'videos_list'

.div id="container"
= javascript_include_tag 'webpack/app'
