[mysqld_multi]
mysqld     = /usr/local/Cellar/mysql/5.6.19/bin/mysqld_safe
mysqladmin = /usr/local/Cellar/mysql/5.6.19/bin/mysqladmin
user = multi_admin
password = multipass
 
# The MySQL server
[mysqld]
 
[mysqld1]
server-id = 101
user      = root
port      = 3306
datadir   = /usr/local/var/mysql
socket    = /tmp/mysql.sock
pid-file  = /tmp/mysqld.pid
sync_binlog=1
log-bin=mysql-bin
log-bin-index=mysql-bin
relay-log=relay-bin
relay-log-index=relay-bin

[mysqld2]
server-id = 102
user      = root
port      = 3307
datadir   = /usr/local/var/mysql2
socket    = /tmp/mysql.sock2
pid-file  = /tmp/mysqld.pid2
read_only
log-slave-updates
log-bin=mysql-bin
log-bin-index=mysql-bin
relay-log=relay-bin
relay-log-index=relay-bin
