= render layout: 'modal',  locals: { title: '画像', as: "photo_view_#{photo.id}", id: "photo_view_#{photo.id}" } do

  .photo_detail

    = image_tag photo.image.url, alt: 'img_modal',  data: { dismiss: 'modal' }
