/*******グローバルナビ********/
.slideButton {
    display: none;
}

#slideMenu {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #444;/*メニューの背景色*/

  .slideMenuInner {
    list-style-type: none;
    width: 960px;/*メニューの横幅を*/
    height: 100%;
    margin: 0 auto;
    padding-left: 0;

    li {
      position: relative;
      float: left;
      height: 100%;
      text-align: center;

      a {
        display: block;
        position: relative;
        z-index: 2;
        height: 100%;
        padding-right: 20px;/*文字の左の余白*/
        padding-left: 20px;/*文字の右の余白*/
        background-color: #444;/*文字の背景色*/
        color: #fff;/*文字色*/
        font-size: 70%;
        text-decoration: none;
        line-height: 40px;
      }
    }
  
    li:hover a {
      background-color: #555;/*文字の背景色（マウスホバー時）*/
    }

/*２階層目*/
   li { 
     ul.second-level {
       visibility: hidden;
       list-style-type: none;
       position: absolute;
       z-index: -1;
       top: 0;
       margin: 0;
       padding-left: 0;
     }
   }

   li:hover {
     ul.second-level {
       visibility: visible;
       z-index: 1;
       top: 40px;
       transition: all .3s;

       li {
         width: 200px;
         height: 40px;
         text-align: center;
         a {
            display: block;
            background-color: #444;/*子メニューの文字の背景色*/
            color: #fff;/*子メニューの文字色*/
            font-size: 70%;
            text-decoration: none;
            line-height: 40px;
          }
          a:hover {
            background-color: #555;/*子メニューの背景色（マウスホバー時）*/
          }
       }
   }
}
/*２階層目ここまで*/

/******スライドメニュー*******/
@media screen and (max-width:960px) {/*１*/
    #menuButton {
        z-index: 10;
        width: 100%;
        background-color: #444;/*メニューバーの色*/
    }
    #menuButtonInner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        text-align: right;
    }
    .slideButton {
        display: inline-block;
        margin: 5px;
        padding: 8px 15px;
        background-color: #555;/*「MENU」の背景色*/
        color: #fff;/*「MENU」の文字色*/
        font-size: 70%;
        text-decoration: none;
        cursor: pointer;
    }
    #slideMenu {
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        z-index: 20;
        top: 0;
        right: -260px;
        width: 260px;
        height: 100%;
        margin: 0;
        padding: 0;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
    #slideMenu > .slideMenuInner {
        position: static;
        width: 100%;
        height: 100%;
    }
    #slideMenu > .slideMenuInner > li {
        display: block;
        position: relative;
        float: none;
        width: 100%;
        height: 40px;
        margin: 0 auto;
        border-top: 1px solid #eee;
        text-align: center;
    }
    #slideMenu > .slideMenuInner > li a {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: #fff;/*スライドメニューの背景色*/
        color: #333;/*スライドメニューの文字色*/
        font-size: 70%;
        font-weight: bold;
        line-height: 40px;
    }
    #slideMenu > .slideMenuInner > li:hover a {
        background-color: #fff;/*スライドメニューの背景色（マウスホバー時）*/
        color: #333;/*スライドメニューの文字色（マウスホバー時）*/
    }
    #slideMenu > .slideMenuInner > li > a:active {
        opacity: .8;
    }
    #slideMenu > .slideMenuInner > li:hover > ul.second-level {
        display: none;
    }
    .closeArea {
        height: 100%;
        background-color: #333;/*クローズエリア（スライドメニューの下の部分）の色*/
        cursor: pointer;
    }
    #layer {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        height: 150%;
        background-color: #222;/*レイヤーの色*/
        opacity: .4;/*レイヤーの透明度*/
        cursor: pointer;
    }
}
