// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/utilities";
@import "compass/css3";
@import "compass/reset";
@import "compass";

.user_list_context {
  width: 1000px;
  height: 400pt;
  position: absolute;

  .group_user_list {
    width: 200px;
    visibility: visible;
    border: 1px solid #FFFFFF;
    @include border-radius(10px,10px);
    @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);

    .user_list {
       float: left;
       margin: 4px;
       z-index: 0;
       @include border-radius(5px,5px);
       @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
      .user_div {
         background-color: #FFFFFF;
         border: 1px solid #FFFFFF;
         font-size: 10pt;
         width: 100px;
         height: 50px;
         margin: 5px;
         z-index: 1;
         float: left;
         @include border-radius(10px,10px);
         @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
      }
    }
  }

  .search_user_list {
    width: 750px;
    visibility: visible;
    border: 1px solid #FFFFFF;
    @include border-radius(10px,10px);
    @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
    
    .user_list {
       float: left;
       margin: 4px;
       z-index: 0;
       @include border-radius(5px,5px);
       @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
      .user_div {
         background-color: #FFFFFF;
         border: 1px solid #FFFFFF;
         font-size: 10pt;
         width: 100px;
         height: 50px;
         margin: 5px;
         z-index: 1;
         float: left;
         @include border-radius(10px,10px);
         @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
      }
    }
  }
}

